@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContentAccessor
@{
    var session = httpContentAccessor.HttpContext.Session;
}
@model IEnumerable<EvergreenAPI.Models.Thumbnail>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Image Management";
}

@section Styles {
    <style>
        img {
            max-width: 100%;
            display: block;
        }

        figure {
            margin: 0;
            display: grid;
            grid-template-rows: 1fr auto;
            margin-bottom: 10px;
            break-inside: avoid;
        }

            figure > img {
                grid-row: 1 / -1;
                grid-column: 1;
            }

            figure a {
                color: black;
                text-decoration: none;
            }

        figcaption {
            grid-row: 2;
            grid-column: 1;
            background-color: rgba(255,255,255,.5);
            padding: .2em .5em;
            justify-self: start;
        }

        .grid-container {
            column-count: 4;
            column-gap: 10px;
        }
    </style>
}

<div class="grid-container">
    @foreach (var item in Model)
    {
        <figure>
            <img src="@item.Url" alt="@item.AltText" />
            <figcaption><a href="#">@item.ThumbnailId</a></figcaption>
        </figure>
    }
</div>