@model EvergreenAPI.Models.Blog
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var listImages = ViewData["Images"] as SelectList;
    
}
        <form asp-action="Edit" class="text-dark" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlogId" />
            <input asp-for="ViewCount" type="hidden" />
            <input asp-for="LastModifiedDate" type="hidden" />
            <div class="form-group row">
                <div class="col">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group py-2">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" id="summernoteEdit"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group py-2">
                <label asp-for="ImageId" class="control-label"></label>
                <select asp-for="ImageId" class="form-control" asp-items="listImages"></select>
            </div>
            <div class="form-group py-2">
                <input type="submit" value="Save" class="btn btn-primary" /> 
                <a asp-action="AdminIndex" class="btn btn-success">Back to List</a>
            </div>
        </form>

@section Scripts {
    <script src="~/AdminAssets/lib/summernote-bs4.min.js"></script>
    <link rel="stylesheet" href="~/AdminAssets/lib/summernote-bs4.min.css" />

    <script>
        $(document).ready(function () {
            $('#summernoteEdit').summernote({
                tabsize: 2,
                height: 360,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }