@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContentAccessor
@{
    var session = httpContentAccessor.HttpContext.Session;
}
@model IEnumerable<EvergreenAPI.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<style>
    .text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <img class="img-fluid" alt="Thumbnail" style="width: 100%; height: auto; object-fit: cover;" src="@item.Thumbnail.Url" data-holder-rendered="true">
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text text-ellipsis">
                      @item.Description
                    </p>
                    <a class="btn btn-danger rounded" asp-action="Read" asp-route-id="@item.BlogId"> Read More </a>
                  </div>
                </div>
            </div>
        }
    </div>
</div>