@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContentAccessor
@{
    var session = httpContentAccessor.HttpContext.Session;
    ViewData["Title"] = "Disease detection";
}

@section Styles {
    <style>
        .wrapper {
            margin: auto;
            max-width: 640px;
            padding-top: 60px;
            text-align: center;
            margin-bottom: 3em;
        }

        .browse-container {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
        }

        h1.title {
            color: #130f40;
            letter-spacing: -.5px;
            font-weight: 700;
            padding-bottom: 16px;
        }

        .upload-container {
            background-color: rgb(239, 239, 239);
            border-radius: 6px;
            padding: 10px;
        }

        .border-container {
            border: 5px dashed rgba(198, 198, 198, 0.65);
            padding: 20px;
            position: relative;
        }

            .border-container p {
                color: #130f40;
                font-weight: 600;
                font-size: 1.1em;
                letter-spacing: -1px;
                margin: 12px auto;
                opacity: 0.65;
                user-select: none;
            }

                .border-container p:hover {
                    cursor: default;
                }

        #file-upload {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }

        #file-browser {
            text-decoration: none;
            color: rgb(22,42,255);
            border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
        }

            #file-browser:hover {
                color: rgb(0, 0, 255);
                border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
            }

        #submit-btn:disabled {
            cursor: not-allowed;
        }

        .list-group-item:hover {
            cursor: pointer;
            transition: background .2s ease;
            background: rgb(239, 239, 239);
        }

        .list-group-title {
            position: relative;
            padding: 0.75rem 1.25rem;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0);
        }

        .item-link {
            text-decoration: none;
            color: black;
        }

        #small {
            opacity: 0.5;
            font-size: 0.9em;
        }

        code {
            font-family: 'Poppins', sans-serif;
            letter-spacing: 0.15px;
        }
    </style>
}

<div class="wrapper">
    <div class="browse-container ftco-animate">
        <h1 class="title">Upload a file</h1>
        <div class="upload-container">
            <div class="border-container" method="post">
                <input type="file" id="file-upload" title="Click to choose image">
                <p id="preview">
                    Drag and drop files here, or
                    <a href="#" id="file-browser">browse</a> your computer.
                </p>
                <p id="small">For best result, we recommend using <code>.JPEG</code> format</p>
            </div>
        </div>
        <button id="submit-btn"
                class="btn btn-block btn-danger text-white mt-2 p-2"
                disabled>
            Submit
        </button>
    </div>
</div>

<div class="container ftco-animate">
    <h3 class="text-center title">History</h3>
    <div class="mb-2 list-group-title">
        <a class="item-link" href="#">
            <div class="d-flex justify-content-between" title="Click to view details">
                <span class="img-name w-25">Image name</span>
                <span class="disease-name w-50">Detected disease</span>
                <span class="acc w-25 text-right">Accuracy</span>
            </div>
        </a>
    </div>

    <div id="data-container"></div>
    <div id="pagination-container"></div>
</div>

<input type="hidden" id="pass-data" value="@ViewBag.history" />
<input type="hidden" id="uid" value="@session.GetString("i")" />

@section Scripts {
    <script>
        $("#file-upload").css("opacity", "0");

        $("#file-upload").on("change", () => {
            // Get file name
            var filename = $('#file-upload').val().split('\\').pop();
            // If any file selected
            if (filename) {
                $("#preview").html(`File <code>${filename}</code> selected`)
                $("#submit-btn").attr("disabled", false);
            }
        })

        $("#preview, #small").click((e) => {
            e.preventDefault();
            $("#file-upload").trigger("click");
        });

        function simpleTemplating(data) {
            let html = `<ul class="list-group">`;
            data.forEach((item) => {
                html += `<li class="list-group-item mb-2">`
                    + `<a class="item-link" href="#">`
                    + `<div class="d-flex justify-content-between" title="Click to view details">`
                    + `<span class="img-name w-25">${item["ImageName"]}</span>`
                    + `<span class="disease-name w-50">${item["DetectedDisease"]}</span>`
                    + `<span class="acc w-25 text-right">${item["Accuracy"].toFixed(2)}%</span>`
                    + `</div>`
                    + `</a>`
                    + `</li>`;
            })
            html += `</ul>`;
            return html;
        }

        let sample = []
        $(document).ready(() => {
            let data = $("#pass-data").val()
            sample = JSON.parse(data)
            paginate(sample)
        })

        const paginate = (data) => {
            // History pagination
            $('#pagination-container').pagination({
                dataSource: data,
                pageSize: 8,
                callback: function (data, pagination) {
                    // template method of yourself
                    let html = simpleTemplating(data);
                    $('#data-container').html(html);
                }
            })
        }

        $("#submit-btn").on("click", (e) => {
            e.preventDefault();
            $("#submit-btn").attr("disabled", true);

            let fileName = $('#file-upload').val().replace(/.*(\/|\\)/, '');
            let fileData = document.getElementById("file-upload").files[0];

            let apiUrl = "https://localhost:44334/api/DetectionHistory"
            let uid = $("#uid").val()

            let formData = new FormData();
            formData.append('image', fileData)
            formData.append('uid', uid)

            $.ajax({
                contentType: false,
                processData: false,
                type: 'POST',
                url: apiUrl,
                data: formData,
                success: function (response, textStatus, xhr) {
                    // Remove previous list first
                    $('#pagination-container').html()

                    // Re-render data without reload
                    $.ajax({
                        contentType: false,
                        processData: false,
                        url: `${apiUrl}/${uid}`,
                        success: function (data, textStatus, xhr) {
                            // Transform text to PascalCase format
                            for (var i = 0; i < data.length; i++) {

                                var a = data[i];
                                for (var key in a) {
                                    if (a.hasOwnProperty(key)) {
                                        a[key.charAt(0).toUpperCase() + key.substring(1)] = a[key];
                                        delete a[key];

                                    }
                                }
                                data[i] = a;

                            }

                            // Finally, paginate'm
                            paginate(data)
                        }, error: function (xhr, status, error) {
                            console.log(error)
                        }
                    });

                }, error: function (xhr, status, error) {
                    console.log(error)
                }, complete: function () {
                    $("#submit-btn").attr("disabled", false);
                }
            });
        })
    </script>
}