@using Microsoft.AspNetCore.Http
@model EvergreenAPI.Models.Disease
@inject IHttpContextAccessor httpContentAccessor
@{
    var session = httpContentAccessor.HttpContext.Session;
}
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit";
    var listDiseaseCategories = ViewData["DiseaseCategories"] as SelectList;
    var listImages = ViewData["Thumbnails"] as SelectList;
    var listMedicine = ViewData["Medicines"] as SelectList;
    var listTreatment = ViewData["Treatments"] as SelectList;
}
<h1 class="text-dark">Update Disease</h1>
<hr />
    <div class="row">
    <div class="col-md-4 text-dark">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DiseaseId" />
                <div class="form-group py-2">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group py-2">
                    <label asp-for="Identification" class="control-label"></label>
                    <input asp-for="Identification" class="form-control" />
                    <span asp-validation-for="Identification" class="text-danger"></span>
                </div>
                <div class="form-group py-2">
                    <label asp-for="Affect" class="control-label"></label>
                    <input asp-for="Affect" class="form-control"/>
                    <span asp-validation-for="Affect" class="text-danger"></span>
                </div>
                <div class="form-group py-2">
                    <label asp-for="DiseaseCategoryId" class="control-label"></label>
                    <select asp-for="DiseaseCategoryId" class="form-control" asp-items="listDiseaseCategories"></select>
                </div>
                <div class="form-group py-2">
                    <label asp-for="MedicineId" class="control-label"></label>
                    <select asp-for="MedicineId" class="form-control" asp-items="listMedicine"></select>
                </div>
                <div class="form-group py-2">
                    <label asp-for="TreatmentId" class="control-label"></label>
                    <select asp-for="TreatmentId" class="form-control" asp-items="listTreatment"></select>
                </div>
                <div class="form-group py-2">
                    <label asp-for="ThumbnailId" class="control-label"></label>
                    <select asp-for="ThumbnailId" class="form-control" asp-items="listImages"></select>
                </div>
                <div class="form-group py-2">
                    <input type="submit" value="Save" class="btn btn-primary" /> 
                    <a asp-action="AdminIndex" class="btn btn-success">Back to List</a>
                </div>
            </form>
        </div>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }