@model EvergreenAPI.Models.Account

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create Account";
}

<h1 class="text-dark">Create Account</h1>
<hr />
<div class="row text-dark">
    <div class="col-md-4">
        <form method="post" asp-action="AdminCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountId" />
            <input type="hidden" asp-for="Token" />
            <div class="row">
            <div class="form-group col">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            
            <div class="form-group col">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row">
            <div class="form-group col">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group col">
                <label asp-for="Professions" class="control-label"></label>
                <input asp-for="Professions" class="form-control" />
                <span asp-validation-for="Professions" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <label class="control-label">Role</label>
                <select class="form-control" name="Role">
                    <option selected>Professor</option>
                    <option>User</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="AdminIndex" class="btn btn-success">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
