@model IEnumerable<EvergreenAPI.Models.Treatment>
@{
    ViewData["Title"] = "Treatments";
}
<style>
    .text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-12 mb-4 ftco-animate">
                <div class="card" style="justify-content: space-between; ">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" style="width: 100%; height: 200px;">
                        <img class="img-fluid" alt="Thumbnail" style="width: 100%; height: 100%; object-fit: cover;" src="@item.Thumbnail.Url" data-holder-rendered="true">
                        <a href="#">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between;">
                        <h5 class="card-title" style="height: 50px">@item.TreatmentName</h5>
                        <p class="card-text text-ellipsis" style="height: 100px">
                            @item.Method
                        </p>
                        <a class="btn btn-danger rounded" asp-action="Details" asp-route-id="@item.TreatmentId"> Read More </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>